@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.gradient {
  background-image: linear-gradient(to right, #dc3545, #ffc107);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.banner {
  height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url("https://images.pexels.com/photos/4144923/pexels-photo-4144923.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.banner > h1 {
  color: #fff;
  height: inherit;
  font-weight: 900;
  font-size: 2.8rem;
}

.intro > h2 > span {
  font-weight: 900;
  font-size: 2.5rem;
  border-bottom: 2px solid #dc3545;
}

.intro > p {
  line-height: 1.655;
  word-spacing: 0.3rem;
  font-weight: 400;
  color: #3e3d3d;
  font-size: 16.2px;
  margin-bottom: 1.5rem;
}

.pic {
  height: 150px;
  width: 150px;
}
.pic .profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

h2 {
  font-weight: 900;
}

.b-line {
  border-bottom: 3px solid #dc3545;
  border-radius: 2px;
}

.name h1 {
  font-weight: 900;
  font-size: 2.5rem;
}

.text > li {
  list-style: none;
  padding: 12px 0 8px 0;
  border-bottom: 1px solid #8f8e8e;
}

.btn {
  background: linear-gradient(to right, #dc3545, #ffc107);
}
.btn:hover {
  background: linear-gradient(to right, #ffc107, #dc3545);
}
